.main-content--locked[b-bv88vl7guv] {
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}

.main-content--unlocked[b-bv88vl7guv] {
    filter: none;
    pointer-events: auto;
    user-select: auto;
}
